#cardDesign{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60") no-repeat center center/cover; */
    background: linear-gradient(to right, rgb(30, 0, 255), rgb(50, 129, 255), rgb(121, 217, 255));
}


.cards .card{
    width: 290px;
    height: 500px;
    margin-top: 120px;
    justify-content: center;
    align-items: row;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 18px;
}
.card .cardImg img{
    width: 100%;
    height:170px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.card_tittle{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.card_text p{
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.cards .card .card_topic p{
    background: linear-gradient(to right, rgb(14, 79, 209), rgb(50, 129, 255), rgb(121, 217, 255));
    color: white;
    width: 90px;
    height: 20px;
    align-items: center;
    margin: 19px;
    border-radius: 10px;
    padding-left: 15px;
}

.cards .card .card_tittle h3{
    align-items: center;
    margin: 19px;
}

.footer .profile_photo img{
    border-radius: 50px;
    margin-top: 45px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.time{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
}

.footer{
    display: flex;
}

.last_text{
    margin-top: 40px;
    margin-left: 15px;
    line-height: 0.3;
}

.card_topic2{
    background: linear-gradient(to right, rgb(209, 14, 14), rgb(226, 55, 55), rgb(203, 90, 90));
    color: white;
    width: 50px;
    height: 20px;
    align-items: center;
    margin: 19px;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 25px;
}

.card_topic3{
    background: linear-gradient(to right, rgb(2, 146, 43), rgb(2, 189, 5), rgb(121, 255, 146));
    color: white;
    width: 90px;
    height: 23px;
    align-items: center;
    margin: 19px;
    border-radius: 10px;
    padding-left: 15px;
}

.cardImg2 img{
    width: 100%;
    height:170px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardImg3 img{
    width: 100%;
    height:170px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.img{
    width: 100%;
    height:170px;
    cursor: pointer;
}